<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <link
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/InicioOrganigrama.css}" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/estiloMenuLateral.css}">
</head>
<body >

<!-- Modal -->
<div class="modal fade" id="modalCreaUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <!--/*@thymesVar id="Group" type="java"*/-->
    <form method="POST"  th:action="@{/añadirUsuario}" th:object="${User}">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Añadir Usuarios</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="uname">Nombre:</label> <input type="text"
                                                                  class="form-control"  placeholder="Ingrese el nombre"
                                                                  name="nombre" required>
                        <div class="valid-feedback">Valid.</div>
                    </div>
                    <div class="form-group">
                        <label for="uname">Numero de empleado :</label> <input type="text"
                                                                               title="Solo numeros , 9 digitos" maxlength="9" minlength="9"
                                                                               class="form-control"  placeholder="Ingrese número de empleado"
                                                                               name="numeroEmpleado" required pattern="[0-9]*">
                        <div class="valid-feedback">Valid.</div>
                    </div>
                        <div class="form-group">
                            <label for="uname">Correo:</label> <input type="email"
                                                                      class="form-control"  placeholder="Ingrese el correo"
                                                                      name="correo" required>
                            <div class="valid-feedback">Valid.</div>
                        </div>
                        <div class="form-group">
                            <label for="uname">RFC:</label> <input type="text"
                                                                   title="Solo mayusculas o numeros, longitus de 13" minlength="13"
                                                                   maxlength="13" class="form-control"
                                                                   placeholder="Ingrese RFC" name="RFC" required pattern="[A-Z0-9]+">
                            <div class="valid-feedback">Valid.</div>

                        </div>
                    <div class="form-group">
                        <label for="uname">CURP:</label> <input type="text"
                                                                title="Solo mayusculas y numeros, lonitud de 18" minlength="18" maxlength="18"
                                                                class="form-control" id="uname" placeholder="Ingrese su curp"
                                                                name="curp" required pattern="[A-Z0-9]+">
                        <div class="valid-feedback">Valid.</div>

                    </div>

                        <div class="form-group">
                            <label for="uname">Telefono :</label> <input type="text"
                                                                         title="Solo numeros , 10 digitos" maxlength="10" minlength="10"
                                                                         class="form-control"  placeholder="Ingrese el telefono"
                                                                         name="telefono" required pattern="[0-9]*">
                            <div class="valid-feedback">Valid.</div>
                        </div>
                    <div class="form-group">
                        <label for="uname">Password :</label> <input type="password"
                                                                     title="10 caracteres sin signos" maxlength="10" minlength="10"
                                                                     pattern="[A-Za-z0-9]+"
                                                                     class="form-control"  placeholder="Ingrese el contraseña"
                                                                     name="password" required >
                        <div class="valid-feedback">Valid.</div>
                    </div>
                    <div class="form-group">
                        <label for="uname">Fecha inicio contrato:</label> <input type="date"
                                                                                 class="form-control"
                                                                                 placeholder="Ingrese la fecha de contrato" name="fechaTermino"
                                                                                 required>
                        <div class="valid-feedback">Valid.</div>

                    </div>
                        <div class="form-group">
                            <label for="uname">Fecha fin contrato:</label> <input type="date"
                                                                                  class="form-control"
                                                                                  placeholder="Ingrese la fecha de contrato" name="fechaInicio"
                                                                                  required>
                            <div class="valid-feedback">Valid.</div>

                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Crear</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>