
.item{
    height: 70px;
    width: content-box;
    background-color: white;
    border-radius: 5px ;
    border: #8898aa;
    box-shadow: 3px 3px #A8A6A6 ;
    padding: 30px;
    margin: 30px;


}
.container {
    flex-flow: column wrap;
}


